<article itemprop="text">
  <h1>Angular Currency Converter/Calculator</h1>
  
  
  <h2>Features</h2>

  <h3> Currency Coversion </h3>

  <ul>
  <li> By default when user navigates to page, Amount, From and To fields are pre<li>populated (with Euro to USD) </li>
  <li> Enter "Amount" field</li>
  <li> Select "From Currency" from populated list. It filters as user types in.</li>
  <li> Select "To Currency" from populated list. It filters as user types in.</li>
  <li> Conversion Details is automatically populated along with Current Date conversion rates.</li>
</ul>
  
  <h3> Select Date for Conversion Rate </h3>
  <ul>
  <li> Enter "Amount" field</li>
  <li> Select "From Currency" from populated list. It filters as user types in.</li>
  <li> Select "To Currency" from populated list. It filters as user types in.</li>
  <li> Select "Date" from Date Picker.</li>
  <li> Conversion Details is automatically populated along with the Selected Date conversion rates.</li>
</ul>

  <h3> Bidirectional Conversion  </h3>
<ul>
  <li> Enter "Amount" field</li>
  <li> Select "From Currency" from populated list. It filters as user types in.</li>
  <li> Select "To Currency" from populated list. It filters as user types in.</li>
  <li> Conversion Details is automatically populated along with the Selected Date conversion rates.</li>
  <li> Click "Swap" icon in between From Currency and To Currency</li>
  <li> Conversion Details is automatically populated for selected currency types.</li>
</ul>  
  
  <h3> View all Exchange Rates  </h3>
  <ul>
  <li> Exchange Rates for the Base Currency for all currencies is populated in the table.</li>
  <li> User can search for a currency by typing in Search Filter</li>
  <li> User can sort the rates and currency. </li>
</ul>  
</article>
