<article itemprop="text">
  <h1>Angular Currency Converter/Calculator</h1>
  <p>Working with latest Angular 8.</p>
  
  <h2>Usage</h2>

  <p>On successful load, application navigates user automatically to Exchange Rates Home page. Currency Converter form fields are pre-populated.</p>
  <p>User can enter Amount, Base Currency and Quote Currency</p>
  <p>The converstion rate is shown automatically as user selects the field.</p>
  <p>User can swap currencies by clicking on Reverse icon button located between currency select form
    fields.</p>
    <p>User can select a past date to see the conversion rate(Historical rate)</p>
  <p>User can view all the Quote Currency exchange rates of selected Base currency </p>
  <p>User can filter the quote currency in the exchange rates table</p>
  <p>Basic Unit test cases are covered</p>
  <h2>To Do</h2>
  <ul>
    <li>Unit test application components/services</li>
    <li>Extract Util functions and reusable components</li>
  </ul>
</article>
